#div1 h2{
	color:red;
}
/*#div1 img{*/
	/*width:150px;*/
	/*max-height:50px;*/
/*}*/
#div2 a{
	margin-top: -10px;
	margin-right: 10px;
	float: right;
	text-decoration: none;
	padding-left:2px;  
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
	border: 2px solid black;
	color: blue;

}
#div3{
	margin-top: 100px;
	text-align: center;
}